@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --background: #2a2a2a;
    --background-lite: #394448;
    --background-lite-hover: #293033;
    --text-color: #f0f4f5;
}

*{
    font-size: 18px;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    color: var(--text-color);
    list-style-type: none;
}

h2{
    font-size: 25px;
    font-weight: 500;
}

body{
    height: 100vh;
    background: var(--background);
    overflow: hidden;
}

.inp{
    border-radius: 0 5px 5px 0;
    padding: 0.3rem 0.5rem;
    background: var(--background-lite);
    width: 100%;
    box-sizing: content-box;
}

.inp-2{
    padding: 0.3rem 0.5rem;
    background: var(--background-lite);
    width: 100%;
    box-sizing: content-box;
}


input:hover, .icon:hover, .icon-2:hover, .btn:hover{
    background: var(--background-lite-hover);
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}

input:focus {
    outline: 0;
} 

.icon{
    border-radius: 5px 0 0 5px;
    background: var(--background-lite);
    color: white;
    min-width: 50px;
    text-align: center;
    padding: 8px 0px;
}

.icon-2{
    border-radius: 0 5px 5px 0;
    background: var(--background-lite);
    color: white;
    min-width: 50px;
    text-align: center;
    padding: 8px 0px;
}

.single-i{
    display: flex;
    width: 250px;
}

.btn{
    text-align: center;
    border-radius: 5px 5px;
    padding: 0.3rem 0.5rem;
    background: var(--background-lite);
    width: 100%;
    box-sizing: content-box;
}

.squares li{
    width: 40px;
    height: 40px;
    background-color: var(--background-lite);
    display: block;
    position: absolute;
    opacity: 0.15;
    animation: up 2s infinite;
    animation-direction: alternate;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-1000px) rotate(960deg);
    }
}

nav{
    background: var(--background-lite);
}

.flex{
    width: 80%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.confirm-reg{
    padding-top: 0.3rem;
    gap: 0.3rem;
}